<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sabka Bazaar</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="header.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="clientlib/handlebars.js"></script>
    <script src="carousel.js"></script>
  </head>
<body>
    <header id="header">
        <div class="header">
            <a href="#" class="logo">
               <img alt="CompanyLogo" src="images/logo.png">
            </a>
            <div class="header-left">
            <a class="active home" href="#home">Home</a>
            <a class="products" href="#products">Products</a>
            </div>
            <div class="header-right">
              <a href="#login" id="signin">Signin</a>
              <a href="#register" id="register">Register</a>
            </div>
          </div>
    </header>

    <footer>
      <p>Copyright &copy; 2011-2018 Sabka Bazar Grocery Supplies Pvt. Ltd.</p>
    </footer>
</body>
</html>