<div id="loginForm" class="modal">
  <div class="containerText">
    <h1>Login</h1>
    <p>Get access to your Orders, Wishlist and Recommendations.</p>
  </div>
  <form class="modal-content" action="/action_page.php" method="post">

    <div class="container">
      <label for="uname"><b>Email</b></label>
      <input type="text" placeholder="Enter Username" name="uname">
      <p class="error" id="userNameErr">Enter your Email id</p>

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw">
      <p class="error" id="passwordErr">Enter password</p>

      <button id="loginButton" type="submit">Login</button>
    </div>
  </form>
</div>